{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron mt-3">
        <h3 class="display-3">Trouvez un bricoleur pour vos travaux !</h3>
        <p class="lead">Nos bricoleurs sont sélectionnés et certifiés pour l'aide et le service bricolage qui pourront vous apporter pour tous vos petits travaux à domicile, aussi bien pour les professionnels que pour les particuliers. Qu'ils soient plombier, électricien ou autodidacte, particulier ou professionnel, ils sauront répondre à vos attentes et effectueront avec sérieux et pour un prix raisonnable tous vos travaux à domicile.!</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Voir nos bricoleurs</a>
        </p>
    </div>



    
</div>
{% endblock %}